*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-thumb {
    background: #9aa6c7;
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    z-index: -1;
    border: none;
}

.skip-menu {
    a {
        padding: 2rem 3rem;
        font-size: 2rem;
        background: #fff;
        font-weight: 700;
        position: absolute;
        top: -100%;
        z-index: 999;

        &:focus {
            top: 0;
        }
    }
}

.inner {
    width: 160rem;
    margin: 0 auto;

    @media (max-width:1600px) {
        width: 100%;
        padding: 0 5rem;
    }

    @media (max-width:500px) {
        padding: 0 3rem;
    }
}

.log-inner {
    width: calc(100vw - 23rem);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding: 9.1rem 2.4rem 0 2.4rem;
    background-color: #FAFCFD;

    @media (max-width:768px) {
        width: 100%;
    }
}

.page-title-box {
    margin-bottom: 4rem;

    .page-title {
        font-size: 3.2rem;
        color: #2B333E;
        font-weight: 800;
    }

    .page-text {
        font-size: 1.4rem;
        font-weight: 700;
        color: #333;
        margin-top: 2rem;
    }
}