.blind{
    position:absolute;
    width:1px;
    height:1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    z-index: -1;
    border:none;
}
.inner{
    width:160rem;
    margin:0 auto;
    @media (max-width:1600px) {
        width:100%;
        padding:0 5rem;
    }
    @media (max-width:500px) {
        padding:0 3rem;
    }
}
.skip-menu{
    a{
        padding:2rem 3rem;
        font-size: 2rem;
        background:#fff;
        font-weight: 700;
        position:absolute;
        top:-100%;
        z-index:999;
        &:focus{
            top:0;
        }
    }
}