body {
    overflow-x: hidden;

    //header
    .con-wrap__header2 {
        padding: 0;
        background-color: #fff;
        width: 100%;
        position: fixed;
        z-index: 9;
        border-bottom: none;

        .inner {
            .header2__pc-wrap {
                h1 {
                    .logo {
                        color: #3066E2;
                        display: block;
                        font-size: 2.4rem;
                        font-weight: 800;
                    }
                }

                .nav-style-2 {
                    .main-list {

                        >li {
                            &:hover {
                                background-color: rgba(#6d8eda, 0.1);
                                // background-color: rgba(#000, 0.1);

                                .sub-list {
                                    background-color: transparent;
                                }
                            }

                            &:hover.nav-bg {
                                background-color: #fff;
                            }

                            .main-list__menu {
                                width: auto;
                                height: auto;
                                border: none;
                                padding: 2.5rem 2.9rem;
                                color: #3066E2;
                                font-weight: 700;
                            }

                            .sub-list {
                                width: 100%;
                                height: 0;
                                display: block;
                                transition: all 100ms;

                                li {
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: all 300ms;

                                    .sub-list__menu {
                                        color: #444;
                                        font-size: 1.8rem;
                                        font-weight: 700;
                                        height: auto;
                                        width: auto;
                                        padding: 2.4rem 0;

                                        &:hover {
                                            color: #3066E2;
                                        }
                                    }
                                }
                            }
                        }

                        .nav-bg {
                            position: absolute;
                            top: 6.8rem;
                            left: 0;
                            height: 0;
                            width: 100%;
                            background-color: #fff;
                            transition: height 300ms;
                        }

                        &.active,
                        &:hover {
                            &:after {
                                display: none;
                            }

                            li {
                                .sub-list {
                                    height: 30.6rem;
                                    padding: 0.5rem 0;

                                    li {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }

                            .nav-bg {
                                height: 30.6rem;
                            }
                        }
                    }

                    .mo-nav-open {
                        color: #fff;
                    }
                }

                .pc-wrap__right {
                    gap: 1.8rem;

                    a {
                        font-size: 1.2rem;
                        font-weight: 700;
                        position: relative;

                        &:first-child {
                            color: #fff;
                            background: #3066E2;
                            border-radius: 2rem;

                            &:after {
                                display: none;
                            }
                        }

                        &:last-child {
                            color: #3066E2;
                            border: none;
                            padding: 0;
                        }
                    }
                }
            }

            .mo-nav-wrap-2 {
                .mo-nav-wrap__mo-nav-box {
                    .mo-nav-box__header {
                        .header__info {
                            li {
                                a {
                                    &:hover {
                                        color: #3066E2;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }

                    .mo-main-list {
                        li {
                            .mo-main-list__menu {

                                &:hover,
                                &.active {
                                    // background-color: rgba(#6d8eda,0.1);
                                    color: #4474e4;
                                    font-weight: 700;
                                }
                            }

                            .sub-list {
                                background: rgba(#bcc7e2, 0.2);

                                li {
                                    .sub-list__menu {
                                        color: #666;

                                        &:hover {
                                            color: #222;
                                            font-weight: 700;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    main {

        //1st section
        .visual-con {
            background-color: #3066E2;

            .inner {
                .visual-wrap {
                    .title-box {
                        &__title {
                            font-size: 6rem;
                            line-height: 1.3;
                            color: #fff;

                            .visual__hid {
                                display: inline-block;
                                overflow: hidden;

                                .hid__span {
                                    display: inline-block;
                                    transform: translateY(100%);
                                }

                                &:last-child {
                                    display: block;
                                }
                            }
                        }
                    }

                    .visual-start {
                        gap: 2.2rem;

                        &__hid {
                            overflow: hidden;

                            a {
                                width: 18rem;
                                height: 7rem;
                                border-radius: 10rem;
                                font-size: 2.4rem;
                                font-weight: 800;
                                transform: translateY(110%);
                            }

                            .visual-start__experience {
                                background-color: #fff;
                                color: #3066E2;
                            }

                            .visual-start__login {
                                background-color: #011A52;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        //2nd section
        .service-con {
            background-color: #fff;

            .inner {
                .service__title {
                    font-size: 4.8rem;
                    font-weight: 700;
                    line-height: 1.5;
                    color: #3066E2;
                    word-break: keep-all;
                }

                .layout-style-4 {
                    gap: 5rem 0;

                    .layout {
                        align-items: center;

                        .service-link {
                            display: block;
                            width: 81.08108108108108%;

                            .img-wrap {
                                width: 49%;
                                padding-bottom: 55.33333333333333%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                margin: 0 auto 4.2rem;
                            }

                            .text-wrap {

                                .layout-title {
                                    font-size: 2.3rem;
                                    line-height: 1.3;
                                    color: #011A52;
                                    text-align: center;
                                }
                            }
                        }

                        &:first-child {
                            .img-wrap {
                                background-image: url(../images/target.svg);
                            }
                        }

                        &:nth-child(2) {
                            .img-wrap {
                                background-image: url(../images/analyze.svg);
                            }
                        }

                        &:nth-child(3) {
                            .img-wrap {
                                background-image: url(../images/real-monitor.svg);
                            }
                        }

                        &:nth-child(4) {
                            .img-wrap {
                                background-image: url(../images/custom.svg);
                            }
                        }

                    }
                }
            }
        }

        //3rd section
        .data-con {
            background-color: #FAFBFF;

            .inner {
                .layout-style-2 {
                    .layout {
                        background-color: transparent;

                        .text-wrap {
                            padding: 0 10rem 0 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .data__text-box {


                                .layout-title {
                                    font-size: 6rem;
                                    line-height: 1.3;
                                    color: #3066E2;
                                    font-weight: 800;
                                    overflow: visible;
                                }

                                .layout-title-sub {
                                    font-size: 2rem;
                                    line-height: 1.5;
                                    color: #333;
                                    font-weight: 700;
                                    word-break: keep-all;
                                }
                            }

                            .sub-text {
                                font-size: 1.8rem;
                                line-height: 1.6;
                                word-break: keep-all;
                                color: #333;
                            }
                        }

                        .img-wrap {
                            background-color: transparent;
                            justify-content: space-around;

                            .graph-wrap {
                                width: 11%;

                                .graph-percent {
                                    font-size: 2rem;
                                    line-height: 1.5;
                                    color: #3066E2;
                                    text-align: center;
                                }

                                .graph-stick {
                                    width: 100%;
                                    padding-bottom: 500%;
                                    background-image: linear-gradient(to top, #3066E2 0%, #C2DAF6 0%);
                                }
                            }
                        }
                    }
                }
            }
        }

        //4th section
        .review-con {
            background-color: #fff;
            overflow: hidden;

            .inner {
                width: 100%;
                overflow: hidden;

                .review-title {
                    color: #3066E2;
                    text-align: center;
                    margin-bottom: 10.2rem;
                    font-weight: 800;
                }

                .title-box {
                    text-align: center;
                    margin-bottom: 10rem;

                    .title-box__text {
                        max-width: 70rem;
                        margin: 0 auto;
                    }
                }

                //swiper css
                .swiper {
                    padding: 0 0rem 2rem;
                    overflow: visible;

                    &-wrapper {
                        transition-timing-function: linear;

                        .swiper-slide {
                            text-align: initial;
                            min-height: 25.5rem;
                        }
                    }
                }

                .review-wrap {

                    .review-box {
                        border-radius: 3rem;
                        overflow: hidden;
                        box-shadow: 0 .2rem .8rem 0 rgba(#000, 0.10);
                        font-size: 1.8rem;
                        line-height: 1.6;
                        flex-shrink: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        opacity:0;

                        .review-head {
                            min-height: 31rem;

                            .review-icon {
                                width: 100%;
                                padding: 3.5rem 3rem 2rem;
                                margin-right: auto;

                                img {
                                    width: auto;
                                    max-width: 5rem;
                                }
                            }

                            .review-text {
                                padding: 0 3rem 6rem;
                                color: #404040;
                                display: -webkit-box;
                                -webkit-line-clamp: 5;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        .profile-box {
                            display: flex;
                            padding: 3rem 3.5rem 4rem;
                            width: 100%;
                            border-top: solid 1px #EAEAEA;
                            background: #FAFBFF;
                            align-items: center;
                            margin-left: auto;

                            .profile-img {
                                width: 5.5rem;
                                height: 5.5rem;
                                overflow: hidden;
                                border-radius: 50%;
                                background-color: #d9d9d9;
                                margin-right: 1.5rem;
                                flex-shrink: 0;
                            }

                            .profile-txt {
                                display: flex;
                                flex-direction: column;

                                .profile-name {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    margin-bottom: .5rem;
                                }

                                .profile-duty {
                                    color: #74A3FF;
                                }
                            }
                        }
                    }
                }
            }
        }

        //5th section
        .faq-con {
            background: #3066E2;

            .faq-wrap {
                margin: 0 auto;

                .accordion {
                    margin-top: 4rem;

                    .accordion-item {
                        .accordion-head {
                            padding: 3.5rem 3rem;

                            &:after {
                                background-image: url("../images/icon/arrow-under.svg");
                                right: 3rem;
                            }
                        }

                        .accordion-body {
                            box-sizing: border-box;
                            border-top: none;
                            height: 100%;

                            .accordion-text {
                                padding: 2rem 3rem 3rem;
                            }
                        }

                        .accordion-body.none {
                            border: solid 1px transparent;
                        }

                        &.active {
                            .accordion-head {
                                color: #3066E2;

                                &:after {
                                    transform: translateY(-50%) rotate(-180deg);
                                }
                            }

                            .accordion-body {
                                border-top: solid 1px #d9d9d9;
                            }
                        }
                    }
                }

                .faq-title {
                    color: #fff;
                    text-align: center;
                }

                .faq-accordian {
                    margin-top: 4rem;
                }
            }
        }
    }

}

@media (max-width:1200px) {
    body {

        //header
        .con-wrap__header2 {
            .inner {
                .header2__pc-wrap {
                    .nav-style-2 {
                        .main-list {

                            >li {
                                .main-list__menu {
                                    padding: 2.5rem 2rem;
                                    font-size: 1.6rem;
                                }

                                .sub-list {

                                    li {
                                        .sub-list__menu {
                                            font-size: 1.6rem;
                                            padding: 2rem 0;
                                        }
                                    }
                                }
                            }

                            .nav-bg {
                                top: 6.6rem;
                            }

                            &:hover {
                                li {
                                    .sub-list {
                                        height: 26.6rem;
                                    }
                                }

                                .nav-bg {
                                    height: 26.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1199px) {
    body {
        main {

            //3rd section
            .data-con {
                .inner {
                    .layout-style-2 {
                        .layout {
                            &:first-child {
                                margin-bottom: 5rem;
                            }

                            .text-wrap {
                                padding: 0;

                                .data__text-box {
                                    .layout-title-sub {
                                        margin: 0 0 3rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    body {

        //header
        .con-wrap__header2 {
            padding: 1rem 0;
        }

        main {

            //1st section
            .visual-con {
                .inner {
                    .visual-wrap {
                        .title-box {
                            &__title {
                                font-size: 4.8rem;
                            }
                        }

                        .visual-start {
                            a {
                                width: 15rem;
                                height: 5.4rem;
                                border-radius: 10rem;
                                font-size: 2rem;
                            }
                        }
                    }

                    .pl-102 {
                        padding-left: 6rem;
                    }
                }
            }

            //2nd section
            .service-con {
                .inner {
                    .service__title {
                        font-size: 4rem;
                    }
                }
            }

            .pb-234 {
                padding-bottom: 13.2rem;
            }

            //3rd section
            .data-con {

                .inner {
                    .layout-style-2 {
                        .layout {

                            .text-wrap {
                                .data__text-box {
                                    .layout-title {
                                        font-size: 4.8rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .pb-150 {
                padding-bottom: 8.4rem;
            }

            //5th section
            .faq-con {
                .faq-wrap {
                    .accordion {
                        .accordion-item {
                            .accordion-head {
                                padding: 2.5rem 3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:991px) {
    body {
        main {

            //2nd section
            .service-con {
                .inner {
                    .layout-style-4 {
                        .layout {
                            .img-wrap {
                                margin: 0 auto 2.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    body {
        main {

            //1st section
            .visual-con {
                .inner {
                    .visual-wrap {
                        .title-box {
                            &__title {
                                font-size: 4rem;
                                text-align: center;
                            }
                        }

                        .visual-start {
                            justify-content: center;

                            a {
                                width: 12rem;
                            }
                        }
                    }

                    .pl-102 {
                        padding-left: 0;
                    }
                }
            }

            //2nd section
            .service-con {
                .inner {
                    .service__title {
                        font-size: 3.2rem;
                        text-align: center;
                    }
                }
            }

            //3rd section
            .data-con {

                .inner {
                    .layout-style-2 {
                        .layout {

                            .text-wrap {
                                .data__text-box {
                                    .layout-title {
                                        font-size: 4rem;
                                        text-align: center;
                                    }

                                    .layout-title-sub {
                                        text-align: center;
                                    }
                                }

                                .sub-text {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }

            //5th section
            .faq-con {
                .faq-title {
                    .line-br {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width:720px) {

    //4th section
    .review-con {
        .inner {
            .review-title {
                font-size: 5rem;
                margin-bottom: 7.2rem;
            }
        }
    }
}

@media (max-width:500px) {
    body {
        main {

            //1st section
            .visual-con {
                .inner {
                    .visual-wrap {
                        .title-box {
                            &__title {
                                font-size: 3rem;

                                span {
                                    display: block;
                                }
                            }
                        }

                        .visual-start {
                            gap: 2rem;
                            flex-direction: column;
                            align-items: center;

                            &__hid {
                                width: 100%;

                                a {
                                    width: 100%;
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }
                }
            }

            .pt-270 {
                padding-top: 24rem;
            }

            .pb-312 {
                padding-bottom: 24rem;
            }

            //2nd section
            .service-con {
                .inner {
                    .service__title {
                        font-size: 3rem;

                        span {
                            display: block;
                        }
                    }

                    .mb-102 {
                        margin-bottom: 6rem;
                    }
                }
            }

            .pt-132 {
                padding-top: 9rem;
            }

            .pb-234 {
                padding-bottom: 9rem;
            }

            //3rd section
            .data-con {

                .inner {
                    .layout-style-2 {
                        .layout {

                            .text-wrap {
                                .data__text-box {
                                    .layout-title {
                                        font-size: 3rem;
                                    }
                                }
                            }

                            .img-wrap {
                                .graph-wrap {
                                    .graph-percent {
                                        font-size: 1.4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            //4th sectin
            .review-con {
                .inner {
                    .review-title {
                        font-size: 4rem;
                    }
                }
            }

            //5th section
            .faq-con {
                .faq-title {
                    font-size: 3rem;
                }
            }
        }
    }
}