body {
    overflow-x: hidden;
    //header
    .con-wrap__header2 {
        padding: 0;
        background-color: #3066E2;
        border-bottom: 2px solid #fff;

        .inner {
            .header2__pc-wrap {
                h1 {
                    .logo {
                        color: #fff;
                        line-height: 1;
                        display: block;
                        font-size: 2.4rem;
                        font-weight: 800;
                    }
                }

                .nav-style-2 {
                    .main-list {
                        &:after {
                            top: 6.8rem;
                            height:29.8rem;
                        }

                        li {
                            &:hover {
                                .sub-list {
                                    background-color: rgba(#bcc7e2, 0.2);
                                }
                            }

                            .main-list__menu {
                                width: auto;
                                height: auto;
                                border: none;
                                padding: 2.5rem 2.9rem;
                                color: #fff;
                                line-height: 1;
                                font-weight: 700;
                            }

                            .sub-list {
                                width: 100%;
                                padding: 0.5rem 0;
                                height:29.8rem;

                                li {
                                    .sub-list__menu {
                                        color: #444;
                                        font-size: 1.8rem;
                                        font-weight: 700;
                                        height: auto;
                                        width: auto;
                                        padding: 2.4rem 0;

                                        &:hover {
                                            color: #3066E2;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .mo-nav-open{
                        color:#fff;
                    }
                }
                .pc-wrap__right{
                    gap:1.8rem;
                    a{
                        font-size: 1.2rem;
                        font-weight: 700;
                        &:first-child{
                            color:#3066E2;
                            background: #fff;
                            border-radius: 2rem;
                            &:after{
                                display: none;
                            }
                        }
                        &:last-child{
                            color:#fff;
                            border:none;
                            padding:0;
                        }
                    }
                }
            }
            .mo-nav-wrap-2{
                .mo-nav-wrap__mo-nav-box{
                    .mo-main-list{
                        li{
                            .sub-list{
                                background:rgba(#bcc7e2, 0.2);
                                li{
                                    .sub-list__menu{
                                        color:#666;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        .title-box{
            &__title{
                font-size: 6rem;
                line-height: 1.3;
            }
        }
        //1st section
        .visual-con{
            background-color: #3066E2;
            .inner{
                .visual-wrap{
                    .title-box{
                        &__title{
                            color:#fff;
                        }
                    }
                    .visual-start{
                        gap:2.2rem;
                        a{
                            width:18rem;
                            height:7rem;
                            border-radius: 10rem;
                            font-size: 2.4rem;
                            font-weight: 800;
                        }
                        &__experience{
                            background-color: #fff;
                            color:#3066E2;
                        }
                        &__login{
                            background-color: #011A52;
                            color:#fff;
                        }
                    }
                }
            }
        }
        //2nd section
        .service-con{
            .inner{
                .service__title{
                    font-size: 4.8rem;
                    font-weight: 700;
                    line-height: 1.5;
                    color:#3066E2;
                }
            }
        }
    }
    
}
@media (max-width:1200px) {
    body{
        //header
        .con-wrap__header2{
            .inner{
                .header2__pc-wrap {
                    .nav-style-2 {
                        .main-list {
                            &:after {
                                height:25.2rem;
                            }
    
                            li {
                                .main-list__menu {
                                    padding: 2.5rem 2rem;
                                    font-size: 1.6rem;
                                }
    
                                .sub-list {
                                    height:25.4rem;
    
                                    li {
                                        .sub-list__menu {
                                            font-size: 1.6rem;
                                            padding: 2rem 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:1024px){
    body{
        //header
        .con-wrap__header2{
            padding:1rem 0;
        }
    }
}