body {
    overflow-x: hidden;

    //header
    .con-wrap__header2 {
        padding: 0;
        background-color: #3066E2;
        border-bottom: 2px solid #fff;

        .inner {
            .header2__pc-wrap {
                h1 {
                    .logo {
                        color: #fff;
                        line-height: 1;
                        display: block;
                        font-size: 2.4rem;
                        font-weight: 800;
                    }
                }

                .nav-style-2 {
                    .main-list {
                        &:after {
                            top: 6.8rem;
                            height: 29.8rem;
                        }

                        li {
                            &:hover {
                                .sub-list {
                                    background-color: rgba(#bcc7e2, 0.2);
                                }
                            }

                            .main-list__menu {
                                width: auto;
                                height: auto;
                                border: none;
                                padding: 2.5rem 2.9rem;
                                color: #fff;
                                line-height: 1;
                                font-weight: 700;
                            }

                            .sub-list {
                                width: 100%;
                                padding: 0.5rem 0;
                                height: 29.8rem;

                                li {
                                    .sub-list__menu {
                                        color: #444;
                                        font-size: 1.8rem;
                                        font-weight: 700;
                                        height: auto;
                                        width: auto;
                                        padding: 2.4rem 0;

                                        &:hover {
                                            color: #3066E2;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .mo-nav-open {
                        color: #fff;
                    }
                }

                .pc-wrap__right {
                    gap: 1.8rem;

                    a {
                        font-size: 1.2rem;
                        font-weight: 700;
                        position: relative;

                        &:first-child {
                            color: #3066E2;
                            background: #fff;
                            border-radius: 2rem;

                            &:after {
                                display: none;
                            }
                        }

                        &:last-child {
                            color: #fff;
                            border: none;
                            padding: 0;
                        }
                    }
                }
            }

            .mo-nav-wrap-2 {
                .mo-nav-wrap__mo-nav-box {
                    .mo-main-list {
                        li {
                            .sub-list {
                                background: rgba(#bcc7e2, 0.2);

                                li {
                                    .sub-list__menu {
                                        color: #666;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        .title-box {
            &__title {
                font-size: 6rem;
                line-height: 1.3;
            }
        }

        //1st section
        .visual-con {
            background-color: #3066E2;

            .inner {
                .visual-wrap {
                    .title-box {
                        &__title {
                            color: #fff;
                        }
                    }

                    .visual-start {
                        gap: 2.2rem;

                        a {
                            width: 18rem;
                            height: 7rem;
                            border-radius: 10rem;
                            font-size: 2.4rem;
                            font-weight: 800;
                        }

                        &__experience {
                            background-color: #fff;
                            color: #3066E2;
                        }

                        &__login {
                            background-color: #011A52;
                            color: #fff;
                        }
                    }
                }
            }
        }

        //2nd section
        .service-con {
            background-color: #fff;

            .inner {
                .service__title {
                    font-size: 4.8rem;
                    font-weight: 700;
                    line-height: 1.5;
                    color: #3066E2;
                    word-break: keep-all;
                }

                .layout-style-4 {
                    gap: 5rem 0;

                    .layout {
                        align-items: center;

                        .service-link {
                            display: block;
                            width: 81.08108108108108%;

                            .img-wrap {
                                width: 49%;
                                padding-bottom: 55.33333333333333%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                margin: 0 auto 4.2rem;
                            }

                            .text-wrap {

                                .layout-title {
                                    font-size: 2.3rem;
                                    line-height: 1.3;
                                    color: #011A52;
                                    text-align: center;
                                }
                            }
                        }

                        &:first-child {
                            .img-wrap {
                                background-image: url(../images/target.svg);
                            }
                        }

                        &:nth-child(2) {
                            .img-wrap {
                                background-image: url(../images/analyze.svg);
                            }
                        }

                        &:nth-child(3) {
                            .img-wrap {
                                background-image: url(../images/real-monitor.svg);
                            }
                        }

                        &:nth-child(4) {
                            .img-wrap {
                                background-image: url(../images/custom.svg);
                            }
                        }

                    }
                }
            }
        }

        //3rd section
        .data-con {
            background-color: #FAFBFF;

            .inner {
                .layout-style-2 {
                    .layout {
                        background-color: transparent;

                        .text-wrap {
                            padding: 0 10rem 0 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .data__text-box {


                                .layout-title {
                                    font-size: 6rem;
                                    line-height: 1.3;
                                    color: #3066E2;
                                    font-weight: 800;
                                    overflow: visible;
                                }

                                .layout-title-sub {
                                    font-size: 2rem;
                                    line-height: 1.5;
                                    color: #333;
                                    font-weight: 700;
                                    word-break: keep-all;
                                }
                            }

                            .sub-text {
                                font-size: 1.8rem;
                                line-height: 1.6;
                                word-break: keep-all;
                                color: #333;
                            }
                        }

                        .img-wrap {
                            background-color: transparent;
                            justify-content: space-around;

                            .graph-wrap {
                                width: 11%;

                                .graph-percent {
                                    font-size: 2rem;
                                    line-height: 1.5;
                                    color: #3066E2;
                                    text-align: center;
                                }

                                .graph-stick {
                                    width: 100%;
                                    padding-bottom: 500%;
                                    background-image: linear-gradient(to top, #3066E2 0%, #C2DAF6 0%);
                                }
                            }
                        }
                    }
                }
            }
        }

        //5th section
        .faq-con {
            padding: 11.6rem 0;
            background: #3066E2;

            .accordion {
                margin-top: 4rem;

                .accordion-item {
                    .accordion-head {
                        padding: 3.5rem 3rem;

                        &:after {
                            background-image: url("../images/icon/arrow-under.svg");
                            right: 3rem;
                        }
                    }

                    .accordion-body {
                        box-sizing: border-box;
                        border-top: none;
                        height: 100%;

                        .accordion-text {
                            padding: 2rem 3rem 3rem;
                        }
                    }

                    .accordion-body.none {
                        border: solid 1px transparent;
                    }

                    &.active {
                        .accordion-head {
                            color: #3066E2;

                            &:after {
                                transform: translateY(-50%) rotate(-180deg);
                            }
                        }

                        .accordion-body {
                            border-top: solid 1px #d9d9d9;
                        }
                    }
                }
            }

            .faq-title {
                color: #fff;
                text-align: center;
            }

            .faq-accordian {
                margin-top: 4rem;
            }
        }
    }

}

@media (max-width:1200px) {
    body {

        //header
        .con-wrap__header2 {
            .inner {
                .header2__pc-wrap {
                    .nav-style-2 {
                        .main-list {
                            &:after {
                                height: 25.2rem;
                            }

                            li {
                                .main-list__menu {
                                    padding: 2.5rem 2rem;
                                    font-size: 1.6rem;
                                }

                                .sub-list {
                                    height: 25.4rem;

                                    li {
                                        .sub-list__menu {
                                            font-size: 1.6rem;
                                            padding: 2rem 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1199px) {
    body {
        main {

            //3rd section
            .data-con {
                .inner {
                    .layout-style-2 {
                        .layout {
                            &:first-child {
                                margin-bottom: 5rem;
                            }

                            .text-wrap {
                                padding: 0;

                                .data__text-box {
                                    .layout-title-sub {
                                        margin: 0 0 3rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    body {

        //header
        .con-wrap__header2 {
            padding: 1rem 0;
        }

        main {
            .title-box {
                &__title {
                    font-size: 4.8rem;
                }
            }

            //1st section
            .visual-con {
                .inner {
                    .visual-wrap {
                        .visual-start {
                            a {
                                width: 15rem;
                                height: 5.4rem;
                                border-radius: 10rem;
                                font-size: 2rem;
                            }
                        }
                    }

                    .pl-102 {
                        padding-left: 6rem;
                    }
                }
            }

            //2nd section
            .service-con {
                .inner {
                    .service__title {
                        font-size: 4rem;
                    }
                }
            }

            .pb-234 {
                padding-bottom: 13.2rem;
            }

            //3rd section
            .data-con {

                .inner {
                    .layout-style-2 {
                        .layout {

                            .text-wrap {
                                .data__text-box {
                                    .layout-title {
                                        font-size: 4.8rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .pb-150 {
                padding-bottom: 8.4rem;
            }
        }
    }
}

@media (max-width:991px) {
    body {
        main {

            //2nd section
            .service-con {
                .inner {
                    .layout-style-4 {
                        .layout {
                            .img-wrap {
                                margin: 0 auto 2.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    body {
        main {
            .title-box {
                &__title {
                    font-size: 4rem;
                    text-align: center;
                }
            }

            //1st section
            .visual-con {
                .inner {
                    .visual-wrap {
                        .visual-start {
                            justify-content: center;

                            a {
                                width: 12rem;
                            }
                        }
                    }

                    .pl-102 {
                        padding-left: 0;
                    }
                }
            }

            //2nd section
            .service-con {
                .inner {
                    .service__title {
                        font-size: 3.2rem;
                        text-align: center;
                    }
                }
            }

            //3rd section
            .data-con {

                .inner {
                    .layout-style-2 {
                        .layout {

                            .text-wrap {
                                .data__text-box {
                                    .layout-title {
                                        font-size: 4rem;
                                        text-align: center;
                                    }

                                    .layout-title-sub {
                                        text-align: center;
                                    }
                                }

                                .sub-text {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:500px) {
    body {
        main {
            .title-box {
                &__title {
                    font-size: 3.4rem;

                    span {
                        display: block;
                    }
                }
            }

            //1st section
            .visual-con {
                .inner {
                    .visual-wrap {
                        .visual-start {
                            gap: 2rem;
                            flex-direction: column;
                            align-items: center;

                            a {
                                width: 100%;
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
            }

            .pt-270 {
                padding-top: 24rem;
            }

            .pb-312 {
                padding-bottom: 24rem;
            }

            //2nd section
            .service-con {
                .inner {
                    .service__title {
                        span {
                            display: block;
                        }
                    }

                    .mb-102 {
                        margin-bottom: 6rem;
                    }
                }
            }

            .pt-132 {
                padding-top: 9rem;
            }

            .pb-234 {
                padding-bottom: 9rem;
            }

            //3rd section
            .data-con {

                .inner {
                    .layout-style-2 {
                        .layout {

                            .text-wrap {
                                .data__text-box {
                                    .layout-title {
                                        font-size: 3.4rem;
                                    }
                                }
                            }

                            .img-wrap {
                                .graph-wrap {
                                    .graph-percent {
                                        font-size: 1.4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}