body{
    main{
        .log-inner{
            .nav-tabs{
                .tab-wrap{
                    .tab-box{
                        .pg-table-box{
                            .wrap-text{
                                font-size: 1.8rem;
                                color:#333;
                                font-weight: 500;
                                margin:3rem 0 0;
                            }
                            .pg-table{
                                .rest-tbl-top{
                                    justify-content: space-between;
                                    align-items: flex-end;
                                    .table-text{
                                        margin:0;
                                        font-size: 1.8rem;
                                        color:#999;
                                        font-weight: 500;
                                    }
                                    .add-acc-btn{
                                        width:13rem;
                                        height:4.6rem;
                                        border:1px solid #D9D9D9;
                                        border-radius: 0.5rem;
                                        background-color: #fff;
                                        color:#333;
                                        font-size: 1.8rem;
                                        font-weight: 700;
                                    }
                                }
                                .tbody-tr{
                                    .td{
                                        .acc-edit-btn{
                                            display: inline-flex;
                                            width:7.4rem;
                                            height:3.6rem;
                                            border:1px solid #D9D9D9;
                                            border-radius: 0.5rem;
                                            background-color: #fff;
                                            font-size: 1.8rem;
                                            color:#333;
                                            font-weight: 700;
                                            justify-content: center;
                                            align-items: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:1199px) {
    body{
        main{
            .log-inner{
                .nav-tabs{
                    .tab-wrap{
                        .tab-box{
                            .pg-table-box{
                                .pg-table{
                                    .rest-tbl-top{
                                        flex-wrap: wrap;
                                        padding-bottom:1rem;
                                        border-bottom:1px solid #E9E9E9;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:500px) {
    body{
        main{
            .log-inner{
                .nav-tabs{
                    .tab-wrap{
                        .tab-box{
                            .pg-table-box{
                                .pg-table{
                                    .rest-tbl-top{
                                        .table-text{
                                            font-size: 1.6rem;
                                        }
                                        .add-acc-btn{
                                            font-size: 1.6rem;
                                            width:10rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}